* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-screen {
    background: url(../images/garrett-parker-DlkF4-dbCOU-unsplash\ 1@2x.png);
    position: absolute;
    width: 1440px;
    height: 765px;
    left: 0px;
    top: 0px;

}

header {
    padding: 30px 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.header-info {
    position: absolute;
    width: 180px;
    height: 31px;
    left: 156px;
    top: 25px;
    font-family: "Magra";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF; 
}

.garrett-parker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

h1 {
    position: absolute;
    width: 892px;
    height: 422px;
    left: 120px;
    top: 122px;
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

p {
    position: absolute;
    width: 723px;
    height: 24px;
    left: 120px;
    top: 346px;
    font-family: "Aleo";
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

